<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.plan.dao.CourseCheckItemDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.CourseCheckItemDO">
		select
            id,
            course_checkid,
            courseid,
            operator,
            update_date,
            enabled_flag
		from pla_course_check_item
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.CourseCheckItemDO">
		select
	        a.id,
	        a.course_checkid,
	        a.courseid,
	        a.operator,
	        a.update_date,
	        a.enabled_flag,
			b.id as courseids,
			b.name,
			b.pinyin,
			b.ename,
			b.score,
			b.type,
			b.classify,
			b.attribute,
			b.operator,
			b.update_date
		 from pla_course_check_item a, pla_course b
        <where>
			and a.enabled_flag=1 and b.enabled_flag=1 and a.courseid = b.id
		  <if test="courseCheckid != null and courseCheckid != ''"> and a.course_checkid = #{courseCheckid} </if>
		  <if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from pla_course_check_item a, pla_course b
		<where>
			and a.enabled_flag=1
			and b.enabled_flag=1 and a.courseid = b.id
			<if test="courseCheckid != null and courseCheckid != ''"> and a.course_checkid = #{courseCheckid} </if>
			<if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.CourseCheckItemDO" useGeneratedKeys="true" keyProperty="id">
		insert into pla_course_check_item
		(
			course_checkid, 
			courseid,
			operator, 
			update_date
		)
		values
		(
			#{courseCheckid}, 
			#{courseid},
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.CourseCheckItemDO">
		update pla_course_check_item 
		<set>
			<if test="courseCheckid != null">course_checkid = #{courseCheckid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update pla_course_check_item set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  pla_course_check_item set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>