<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.plan.dao.SpecialityCourseDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		select
            id,
            speciality_recordid,
            courseid,
            bookid,
            type,
            classify,
            seq,
            status,
            operator,
            update_date,
            enabled_flag
		from pla_speciality_course
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		select
	        a.id,
	        a.courseid,
	        a.bookid,
	        a.type,
	        a.classify,
	        a.seq,
	        a.status,
	        a.operator,
	        a.update_date
		 from pla_speciality_course a
        <where>
         and a.enabled_flag=1
		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and a.speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
		  <if test="bookid != null and bookid != ''"> and a.bookid = #{bookid} </if>
		  <if test="type != null and type != ''"> and a.type = #{type} </if>
		  <if test="classify != null and classify != ''"> and a.classify = #{classify} </if>
		  <if test="seq != null and seq != ''"> and a.seq = #{seq} </if>
		  <if test="status != null and status != ''"> and a.status = #{status} </if>
	      <if test="courseName != null and courseName != ''"> and b.name like concat('%',#{courseName},'%') </if>
		  <if test="bookName != null and bookName != ''"> and c.name like concat('%',#{bookName},'%') </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and a.enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="searchSpecialityIdList" resultType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		select
		a.id,
		a.speciality_recordid,
		a.courseid,
		a.bookid,
		a.type,
		a.classify,
		a.seq,
		a.status,
		a.operator,
		a.update_date
		from pla_speciality_course a
		<where>
			and a.enabled_flag=1 and a.speciality_recordid = #{specialityidSrc} and  a.courseid not in(select courseid  from pla_speciality_course where speciality_recordid = #{specialityid} and enabled_flag=1 )

		</where>
				order by a.id desc
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from pla_speciality_course
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="bookid != null and bookid != ''"> and bookid = #{bookid} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="classify != null and classify != ''"> and classify = #{classify} </if>
		  <if test="seq != null and seq != ''"> and seq = #{seq} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="courseName != null and courseName != ''"> and b.name like concat('%',#{courseName},'%') </if>
		  <if test="bookName != null and bookName != ''"> and c.name like concat('%',#{bookName},'%') </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO" useGeneratedKeys="true" keyProperty="id">
		insert into pla_speciality_course
		(
			speciality_recordid, 
			courseid, 
			bookid, 
			type, 
			classify, 
			seq, 
			status, 
			operator, 
			update_date
		)
		values
		(
			#{specialityRecordid}, 
			#{courseid}, 
			#{bookid}, 
			#{type}, 
			#{classify}, 
			#{seq}, 
			#{status}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		update pla_speciality_course 
		<set>
			<if test="specialityRecordid != null">speciality_recordid = #{specialityRecordid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="bookid != null">bookid = #{bookid}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="classify != null">classify = #{classify}, </if>
			<if test="seq != null">seq = #{seq}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update pla_speciality_course set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  pla_speciality_course set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<insert id="batchSave">
		insert into pla_speciality_course(speciality_recordid,courseid,bookid,type,classify,seq,status,operator,update_date) values
		<foreach item="item" index="index" collection="list"
				 separator=",">
			(#{item.specialityRecordid},#{item.courseid},#{item.bookid},#{item.type},#{item.classify},#{item.seq},#{item.status},#{item.operator},now())
		</foreach>
	</insert>

	<!--批量导入-->
	<select id="listCZ" resultType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		select
		classify,
		courseid,
		name,
		pinyin,
		chief_editor,
		publisher,
		version,
		price,
		type,
		remark,
		status

		from pla_speciality_course
		<where>
			enabled_flag = 1
			and speciality_recordid
			in
			<foreach item = "bean" collection = "list" open = "(" separator = "," close = ")">
				#{bean.specialityRecordid}
			</foreach>

		</where>

	</select>

	<insert id="saveBatch" parameterType="java.util.List">
		insert into pla_speciality_course
		(
		speciality_recordid,
		courseid,
		bookid,
		type,
		classify,
		seq,
		status,
		operator,
		update_date
		)
		values
		<foreach collection="list" item="bean" index="index" open="" close="" separator=",">
			(
			#{specialityRecordid},
			#{courseid},
			#{bookid},
			#{type},
			#{classify},
			#{seq},
			#{status},
			#{operator},
			now()
			)
		</foreach>

	</insert>

	<select id="scoreInput" resultType="com.hxy.nzxy.stexam.domain.SpecialityCourseDO">
		select
		a.id,
		a.courseid,
		a.bookid,
		a.type,
		a.classify,
		a.seq,
		a.status,
		a.operator,
		a.update_date
		from pla_speciality_course a left join
		<where>
			and a.enabled_flag=1
			<if test="id != null and id != ''"> and a.id = #{id} </if>
			<if test="specialityRecordid != null and specialityRecordid != ''"> and a.speciality_recordid = #{specialityRecordid} </if>
			<if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
			<if test="bookid != null and bookid != ''"> and a.bookid = #{bookid} </if>
			<if test="type != null and type != ''"> and a.type = #{type} </if>
			<if test="classify != null and classify != ''"> and a.classify = #{classify} </if>
			<if test="seq != null and seq != ''"> and a.seq = #{seq} </if>
			<if test="status != null and status != ''"> and a.status = #{status} </if>
			<if test="courseName != null and courseName != ''"> and b.name like concat('%',#{courseName},'%') </if>
			<if test="bookName != null and bookName != ''"> and c.name like concat('%',#{bookName},'%') </if>
			<if test="enabledFlag != null and enabledFlag != ''"> and a.enabled_flag = #{enabledFlag} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by a.id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

</mapper>