<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <table class="table table-bordered table-style">
									 <tr>
                                        <td class="W180">
                                            <label><span style="color:red">*</span>考试任务：</label>
                                        </td>
                                        <td>
                                           <!--  <input id="examTaskid" name="examTaskid" class="form-control" type="text"> -->
											<select id="examTaskid" name="examTaskid" class="form-control">
											</select>
                                        </td>
										<td class="W180">
                                            <label><span style="color:red">*</span>类型：</label>
                                        </td>
                                        <td>
											<select id="type" name="type" class="form-control">
												<option th:each="item:${exa_secret_office_type}" th:value="${item.id}" th:text="${item.name}" ></option>
											</select>
                                        </td>
										 <!-- <td class="W180">
                                            <label>考区编号：</label>
                                        </td>
                                        <td>
                                            <input id="regionid" name="regionid" class="form-control" type="text">
                                        </td> -->
                                    </tr>
									<tr>
                                        <td>
                                            <label><span style="color:red">*</span>名称：</label>
                                        </td>
                                        <td>
                                            <input id="name" name="name" class="form-control" type="text" onkeyup="spell()" onchange="spell()">
                                        </td>
										<td>
                                            <label><span style="color:red">*</span>拼音：</label>
                                        </td>
                                        <td>
                                            <input id="pinyin" name="pinyin" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
                                        
										 <td>
                                            <label><span style="color:red">*</span>保密室固定电话区号：</label>
                                        </td>
                                        <td>
                                            <input id="phonePre" name="phonePre" class="form-control" type="text">
                                        </td>
										<td>
                                            <label><span style="color:red">*</span>保密室固定电话号码：</label>
                                        </td>
                                        <td>
                                            <input id="phone" name="phone" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
                                        
										 <td>
                                            <label><span style="color:red">*</span>负责人姓名：</label>
                                        </td>
                                        <td>
                                            <input id="chargeman" name="chargeman" class="form-control" type="text">
                                        </td>
										 <td>
                                            <label><span style="color:red">*</span>负责人手机：</label>
                                        </td>
                                        <td>
                                            <input id="chargemanTel" name="chargemanTel" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
                                        <td>
                                            <label><span style="color:red">*</span>负责人固定电话区号：</label>
                                        </td>
                                        <td>
                                            <input id="chargemanPhonePre" name="chargemanPhonePre" class="form-control" type="text">
                                        </td>
										<td>
                                            <label><span style="color:red">*</span>负责人固定电话号码：</label>
                                        </td>
                                        <td>
                                            <input id="chargemanPhone" name="chargemanPhone" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
										 <td>
                                            <label><span style="color:red">*</span>是否配备武警/公安人员值班：</label>
                                        </td>
                                        <td>
											<select id="hasForce" name="hasForce" class="form-control">
												<option th:each="item:${exa_secret_office_has_force}" th:value="${item.id}" th:text="${item.name}" ></option>
											</select>
                                        </td>
										<td>
                                            <label>武警/公安人员数量：</label>
                                        </td>
                                        <td>
                                            <input id="forceNum" name="forceNum" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
                                       
										
										<td>
                                            <label>考区主任姓名：</label>
                                        </td>
                                        <td>
                                            <input id="leader" name="leader" class="form-control" type="text">
                                        </td>
										 <td>
                                            <label>考区主任电话：</label>
                                        </td>
                                        <td>
											<input id="leaderPhone" name="leaderPhone" class="form-control" type="text">
                                        </td>
                                    </tr>
									<tr>
                                        
										
                                           
										 <td>
                                            <label>考区主任手机：</label>
                                        </td>
                                        <td>
                                            <input id="leaderMphone" name="leaderMphone" class="form-control" type="text">
                                        </td>
                                    </tr>
									 <tr>
                                       
										 <td>
                                            <label>值班人员名单：</label>
                                        </td>
                                        <td colspan="3">
                                            <textarea id="dutyMan" name="dutyMan" class="form-control" type="text"></textarea>
                                        </td>
                                    </tr>
									<!-- <tr>
                                        <td>
                                            <label>审核操作员：</label>
                                        </td>
                                        <td>
                                            <input id="auditOperator" name="auditOperator" class="form-control" type="text">
                                        </td>
										 <td>
                                            <label>审核日期：</label>
                                        </td>
                                        <td>
                                            <input id="auditDate" name="auditDate" class="form-control" type="text" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd'})">
                                        </td>
									</tr> -->
                                    </table>
                        <div style="text-align:center;">
                            <button type="submit" class="btn btn-primary" id="submission">提交</button>
                            <button type="button" class="btn btn-danger" onclick="layerModalFormClose()">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/region/exam/secretOfficeRegion/add.js" th:src="@{/js/appjs/region/exam/secretOfficeRegion/add.js}" >
</script>
</body>
</html>