<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.region.region.dao.GroupsRegionDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.GroupsDO">
		select
            id,
            type,
            regionid,
            code,
            name,
            pinyin,
            classify,
            status,
            operator,
            update_date,
            enabled_flag
		from reg_groups
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.GroupsDO">
		select
	        id,
	        type,
	        regionid,
	        code,
	        name,
	        pinyin,
	        classify,
	        status,
	        operator,
	        update_date,
	        enabled_flag
		 from reg_groups
        <where>
         and enabled_flag=1
			and type = 'a'
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="code != null and code != ''"> and code = #{code} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="classify != null and classify != ''"> and classify = #{classify} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from reg_groups
		 <where>
             and enabled_flag=1
			 and type = 'a'
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="code != null and code != ''"> and code = #{code} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="classify != null and classify != ''"> and classify = #{classify} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.GroupsDO" useGeneratedKeys="true" keyProperty="id">
		insert into reg_groups
		(
			type, 
			regionid, 
			code, 
			name, 
			pinyin, 
			classify, 
			status, 
			operator, 
			update_date
		)
		values
		(
			#{type}, 
			#{regionid}, 
			#{code}, 
			#{name}, 
			#{pinyin}, 
			#{classify}, 
			#{status}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.GroupsDO">
		update reg_groups 
		<set>
			<if test="type != null">type = #{type}, </if>
			<if test="regionid != null">regionid = #{regionid}, </if>
			<if test="code != null">code = #{code}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="classify != null">classify = #{classify}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update reg_groups set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  reg_groups set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<select id="listL" resultType="com.hxy.nzxy.stexam.domain.GroupsDO">
		select
		id,
		type,
		regionid,
		code,
		name,
		pinyin,
		classify,
		status,
		operator,
		update_date,
		enabled_flag
		from reg_groups
		<where>
			and enabled_flag=1
			and type = 'a'
			and
			<foreach item="item" collection="list" open="" separator="or" close="">
				 (regionid =     #{item.regionid} and code=#{item.code})
			</foreach>

		</where>

	</select>
</mapper>