<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.region.student.dao.StudentScoreInRegionDao">
	<!--考籍转入调档成绩信息-->
	<select id="migrationList" resultType="com.hxy.nzxy.stexam.domain.StudentScoreInDO">
		select
		a.student_inid,
		a.courseid,
		b.name as courseName,
		a.grade,
		a.remark
		from stu_student_score_in a left join pla_course b on a.courseid = b.id
		<where>
			and a.enabled_flag=1
			<if test="courseName != null and courseName != ''"> and b.name = #{courseName} </if>
			<if test="studentInid != null and studentInid != ''"> and a.student_inid = #{studentInid} </if>
			<if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
			<if test="grade != null and grade != ''"> and a.grade = #{grade} </if>
			<if test="remark != null and remark != ''"> and a.remark = #{remark} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by a.id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="migrationCount" resultType="int">
		select count(1) 	from stu_student_score_in a left join pla_course b on a.courseid = b.id
		<where>
			and a.enabled_flag=1
			<if test="courseName != null and courseName != ''"> and b.name = #{courseName} </if>
			<if test="studentInid != null and studentInid != ''"> and a.student_inid = #{studentInid} </if>
			<if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
			<if test="grade != null and grade != ''"> and a.grade = #{grade} </if>
			<if test="remark != null and remark != ''"> and a.remark = #{remark} </if>
		</where>
	</select>
	<select id="get" resultType="com.hxy.nzxy.stexam.domain.StudentScoreInDO">
		select
            id,
            student_inid,
            courseid,
            grade,
            remark,
            operator,
            update_date,
            enabled_flag
		from stu_student_score_in
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.StudentScoreInDO">
		select
	        id,
	        student_inid,
	        courseid,
	        grade,
	        remark,
	        operator,
	        update_date,
	        enabled_flag
		 from stu_student_score_in
        <where>
         and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentInid != null and studentInid != ''"> and student_inid = #{studentInid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_student_score_in
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentInid != null and studentInid != ''"> and student_inid = #{studentInid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.StudentScoreInDO" useGeneratedKeys="true" keyProperty="id">
		insert into stu_student_score_in
		(
			student_inid, 
			courseid, 
			grade, 
			remark, 
			operator, 
			update_date
		)
		values
		(
			#{studentInid}, 
			#{courseid}, 
			#{grade}, 
			#{remark}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.StudentScoreInDO">
		update stu_student_score_in 
		<set>
			<if test="studentInid != null">student_inid = #{studentInid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="grade != null">grade = #{grade}, </if>
			<if test="remark != null">remark = #{remark}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_student_score_in set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_student_score_in set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>