<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.region.student.dao.StudentChangeRegionDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.StudentChangeDO">
		select
            id,
            studentid,
            speciality_recordid,
            type,
            begin_date,
            end_date,
            objid,
            status,
            operator,
            update_date
		from stu_student_change
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.StudentChangeDO">
		select
	        id,
	        studentid,
	        speciality_recordid,
	        type,
	        begin_date,
	        end_date,
	        objid,
	        status,
	        operator,
	        update_date
		 from stu_student_change
        <where>
         and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="beginDate != null and beginDate != ''"> and begin_date = #{beginDate} </if>
		  <if test="endDate != null and endDate != ''"> and end_date = #{endDate} </if>
		  <if test="objid != null and objid != ''"> and objid = #{objid} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_student_change
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="beginDate != null and beginDate != ''"> and begin_date = #{beginDate} </if>
		  <if test="endDate != null and endDate != ''"> and end_date = #{endDate} </if>
		  <if test="objid != null and objid != ''"> and objid = #{objid} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.StudentChangeDO" useGeneratedKeys="true" keyProperty="id">
		insert into stu_student_change
		(
			studentid, 
			speciality_recordid, 
			type, 
			begin_date, 
			end_date, 
			objid, 
			status, 
			operator
			update_date, 
		)
		values
		(
			#{studentid}, 
			#{specialityRecordid}, 
			#{type}, 
			#{beginDate}, 
			#{endDate}, 
			#{objid}, 
			#{status}, 
			#{operator}
			now(), 
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.StudentChangeDO">
		update stu_student_change 
		<set>
			<if test="studentid != null">studentid = #{studentid}, </if>
			<if test="specialityRecordid != null">speciality_recordid = #{specialityRecordid}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="beginDate != null">begin_date = #{beginDate}, </if>
			<if test="endDate != null">end_date = #{endDate}, </if>
			<if test="objid != null">objid = #{objid}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="operator != null">operator = #{operator}</if>
			update_date = now(), 
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_student_change set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_student_change set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>