<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<table class="table table-bordered table-style">
						<input id="id" name="id" th:value="${courseCheck.id}"  type="hidden">
							<tr>
								<td>
									<label><span style="color:red">*</span>开设专业：</label>
								</td>
								<td>
									<input id="specialityRecordid" name="specialityRecordid" th:value="${courseCheck.specialityRecordid}" class="form-control" type="hidden">
									<input id="specialityName" name="specialityName" class="form-control" placeholder="点击选择加考专业" onclick="majorName()" th:value="${courseCheck.specialityRecordName}">
								</td>
								<td>
									<label><span style="color:red">*</span>名称：</label>
								</td>
								<td>
									<input id="name" name="name" th:value="${courseCheck.name}" class="form-control" type="text">
								</td>
							</tr>
                           <tr>
								<td>
									<label><span style="color:red">*</span>类别：</label>
								</td>
								<td>
									<select id="type" name="type" class="form-control">
										<option th:each="item:${pla_course_check_type}" th:value="${item.id}" th:text="${item.name}" th:field="${courseCheck.type}"></option>
									</select>
								</td>
								<td>
									<label>共几门课程：</label>
								</td>
								<td>
									<input id="courseNum" name="courseNum" th:value="${courseCheck.courseNum}" class="form-control" type="text">
								</td>
							</tr>
                           <tr>
								<td>
									<label>至少选几门：</label>
								</td>
								<td>
									<input id="leastNum" name="leastNum" th:value="${courseCheck.leastNum}" class="form-control" type="text">
								</td>
								<td>
									<label>最少学分：</label>
								</td>
								<td>
									<input id="leastScore" name="leastScore" th:value="${courseCheck.leastScore}" class="form-control" type="text">
								</td>
							</tr>
							</table>
							<div class="form-group" style="text-align:center">
									<button type="submit" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-danger" onclick="layerModalFormClose()">取消</button>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/center/plan/courseCheck/edit.js" th:src="@{/js/appjs/center/plan/courseCheck/edit.js}">
	</script>
</body>
</html>
