<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.system.dao.ExportFieldDao">

    <select id="get" resultType="com.hxy.nzxy.stexam.system.domain.ExportFieldDO">
        select
            id,
            export_tableid,
            seq,
            name,
            type,
            length,
            decimal_length,
            default_value,
            trans_type,
            table_name,
            field_name,
            operator,
            update_date
        from sys_export_field
        where id = #{value}
    </select>

    <select id="list" resultType="com.hxy.nzxy.stexam.system.domain.ExportFieldDO">
        select
            id,
            export_tableid,
            seq,
            name,
            type,
            length,
            decimal_length,
            default_value,
            trans_type,
            table_name,
            field_name,
            operator,
            update_date
        from sys_export_field
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="exportTableid != null and exportTableid != ''">and export_tableid = #{exportTableid}</if>
            <if test="seq != null and seq != ''">and seq = #{seq}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="length != null and length != ''">and length = #{length}</if>
            <if test="decimalLength != null and decimalLength != ''">and decimal_length = #{decimalLength}</if>
            <if test="defaultValue != null and defaultValue != ''">and default_value = #{defaultValue}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by seq asc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sys_export_field
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="exportTableid != null and exportTableid != ''">and export_tableid = #{exportTableid}</if>
            <if test="seq != null and seq != ''">and seq = #{seq}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="length != null and length != ''">and length = #{length}</if>
            <if test="decimalLength != null and decimalLength != ''">and decimal_length = #{decimalLength}</if>
            <if test="defaultValue != null and defaultValue != ''">and default_value = #{defaultValue}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.hxy.nzxy.stexam.system.domain.ExportFieldDO">
        insert into sys_export_field
        (
            id,
            export_tableid,
            seq,
            name,
            type,
            length,
            decimal_length,
            default_value,
            trans_type,
            table_name,
            field_name,
            operator,
            update_date
        )
        values
        (
            #{id},
            #{exportTableid},
            #{seq},
            #{name},
            #{type},
            #{length},
            #{decimalLength},
            #{defaultValue},
            #{transType},
            #{tableName},
            #{fieldName},
            #{operator},
            now()
        )
    </insert>

    <update id="update" parameterType="com.hxy.nzxy.stexam.system.domain.ExportFieldDO">
        update sys_export_field
        <set>
            <if test="exportTableid != null">export_tableid = #{exportTableid},</if>
            <if test="seq != null">seq = #{seq},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="length != null">length = #{length},</if>
            <if test="decimalLength != null">decimal_length = #{decimalLength},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="transType != null">trans_type = #{transType},</if>
            <if test="tableName != null">table_name = #{tableName},</if>
            <if test="fieldName != null">field_name = #{fieldName},</if>
            <if test="operator != null">operator = #{operator},</if>
            update_date = now()
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_export_field where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sys_export_field where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>