<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.system.dao.HelpDao">

    <select id="get" resultType="com.hxy.nzxy.stexam.system.domain.HelpDO">
		select
            menuid,
            content,
            status,
            operator,
            update_date
		from sys_help
		where menuid = #{menuid}
        <if test="status != null and status != ''">and status = #{status}</if>
	</select>

    <select id="count" resultType="int">
        select count(*) from sys_help
        <where>
            <if test="menuid != null and menuid != ''">and menuid = #{menuid}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.hxy.nzxy.stexam.system.domain.HelpDO">
		insert into sys_help
		(
			menuid, 
			content, 
			status, 
			operator, 
			update_date
		)
		values
		(
			#{menuid}, 
			#{content}, 
			#{status}, 
			#{operator}, 
			now()
		)
	</insert>

    <update id="update" parameterType="com.hxy.nzxy.stexam.system.domain.HelpDO">
        update sys_help
        <set>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="operator != null">operator = #{operator},</if>
            update_date = now()
        </set>
        where menuid = #{menuid}
    </update>

    <delete id="remove">
		delete from sys_help where menuid = #{value}
	</delete>
</mapper>