<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.system.dao.MenuDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.system.domain.MenuDO">
		select id,
			parentid,
			name,
			url,
			perms,
			type,
			icon,
			target,
			seq,
			status,
			operator,
			update_date
		 from sys_menu
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.system.domain.MenuDO">
		select id,
			appid,
			parentid,
			name,
			url,
			perms,
			type,
			icon,
			target,
			seq,
			status,
			operator,
			update_date
		from sys_menu
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="appid != null and appid != ''"> and appid = #{appid} </if>
			<if test="parentid != null and parentid != ''"> and parentid = #{parentid} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="url != null and url != ''"> and url = #{url} </if>
			<if test="perms != null and perms != ''"> and perms = #{perms} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="icon != null and icon != ''"> and icon = #{icon} </if>
			<if test="target != null and target != ''"> and target = #{target} </if>
			<if test="seq != null and seq != ''"> and seq = #{seq} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by seq
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_menu
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="parentid != null and parentid != ''"> and parentid = #{parentid} </if>
			<if test="name != null and name != ''"> and name = #{name} </if>
			<if test="url != null and url != ''"> and url = #{url} </if>
			<if test="perms != null and perms != ''"> and perms = #{perms} </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
			<if test="icon != null and icon != ''"> and icon = #{icon} </if>
			<if test="target != null and target != ''"> and target = #{target} </if>
			<if test="seq != null and seq != ''"> and seq = #{seq} </if>
			<if test="status != null and status != ''"> and status = #{status} </if>
			<if test="operator != null and operator != ''"> and operator = #{operator} </if>
			<if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.hxy.nzxy.stexam.system.domain.MenuDO"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_menu
		(
			appid,
			parentid,
			name,
			url,
			perms,
			type,
			icon,
			target,
			seq,
			status,
			operator,
			update_date
		)
		values
		(
			#{appid},
			#{parentid},
			#{name},
			#{url},
			#{perms},
			#{type},
			#{icon},
			#{target},
			#{seq},
			#{status},
			#{operator},
			now()
		)
	</insert>

	<update id="update" parameterType="com.hxy.nzxy.stexam.system.domain.MenuDO">
		update sys_menu
		<set>
			<if test="appid != null">appid = #{appid}, </if>
			<if test="parentid != null">parentid = #{parentid}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="url != null">url = #{url}, </if>
			<if test="perms != null">perms = #{perms}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="icon != null">icon = #{icon}, </if>
			<if test="target != null">target = #{target}, </if>
			<if test="seq != null">seq = #{seq}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			<if test="updateDate != null">update_date = now()</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from sys_menu where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_menu where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="listMenuByUserId" resultType="com.hxy.nzxy.stexam.system.domain.MenuDO">
		select distinct
			m.id,
			m.appid,
			m.parentid,
			m.name,
			m.url,
			m.perms,
			m.type,
			m.icon,
			m.seq,
			m.operator,
			m.update_date
		from sys_menu m,
			sys_role_menu rm,
			sys_user_role ur
		where m.id = rm.menuid
		  and rm.roleid =ur.roleid
		  <!--and m.appid = #{appid}-->
		  and ur.userid = #{id}
		  and m.type in(0,1)
		  and m.status ='a'
		order by m.seq
	</select>

	<select id="listMenu" resultType="com.hxy.nzxy.stexam.system.domain.MenuDO">
		select distinct
			m.id,
			m.appid,
			m.parentid,
			m.name,
			m.url,
			m.perms,
			m.type,
			m.icon,
			m.seq,
			m.operator,
			m.update_date
		from sys_menu m,
			sys_role_menu rm,
			sys_user_role ur
		where m.id = rm.menuid
		  and rm.roleid =ur.roleid
		  and ur.userid = #{id}
		order by m.seq
	</select>

    <select id="listMenuTreeForHelp" resultType="com.hxy.nzxy.stexam.system.domain.MenuDO">
        select distinct
			m.id,
			m.appid,
			m.parentid,
			m.name,
			m.url,
			m.perms,
			m.type,
			m.icon,
			m.seq,
			m.operator,
			m.update_date
		from sys_menu m,
			sys_role_menu rm,
			sys_user_role ur,
			sys_help h
        where m.id = rm.menuid
          and rm.roleid = ur.roleid
          and h.menuid = m.id
          and h.status = "b"
          and ur.userid = #{id}
        order by m.seq
    </select>

	<select id="listUserPerms" resultType="string">
		select distinct m.perms
	  	  from sys_menu m,
			   sys_role_menu rm,
			   sys_user_role ur
		where m.id = rm.menuid
		   and rm.roleid = ur.roleid
		   and ur.userid = #{id}
	</select>
</mapper>