<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.exam.dao.SecretOfficeDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.SecretOfficeDO">
		select
            id,
            exam_taskid,
            regionid,
            name,
            pinyin,
            type,
            phone_pre,
            phone,
            chargeman,
            chargeman_phone_pre,
            chargeman_phone,
            chargeman_tel,
            duty_man,
            has_force,
            force_num,
            leader,
            leader_phone,
            leader_mphone,
            audit_status,
            audit_operator,
            audit_date,
            operator,
            update_date,
            enabled_flag
		from exa_secret_office
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.SecretOfficeDO">
		select
	        id,
	        exam_taskid,
	        regionid,
	        name,
	        pinyin,
	        type,
	        phone_pre,
	        phone,
	        chargeman,
	        chargeman_phone_pre,
	        chargeman_phone,
	        chargeman_tel,
	        duty_man,
	        has_force,
	        force_num,
	        leader,
	        leader_phone,
	        leader_mphone,
	        audit_status,
	        audit_operator,
	        audit_date,
	        operator,
	        update_date,
	        enabled_flag
		 from exa_secret_office
        <where>
         and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="examTaskid != null and examTaskid != ''"> and exam_taskid = #{examTaskid} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="phonePre != null and phonePre != ''"> and phone_pre = #{phonePre} </if>
		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  <if test="chargeman != null and chargeman != ''"> and chargeman = #{chargeman} </if>
		  <if test="chargemanPhonePre != null and chargemanPhonePre != ''"> and chargeman_phone_pre = #{chargemanPhonePre} </if>
		  <if test="chargemanPhone != null and chargemanPhone != ''"> and chargeman_phone = #{chargemanPhone} </if>
		  <if test="chargemanTel != null and chargemanTel != ''"> and chargeman_tel = #{chargemanTel} </if>
		  <if test="dutyMan != null and dutyMan != ''"> and duty_man = #{dutyMan} </if>
		  <if test="hasForce != null and hasForce != ''"> and has_force = #{hasForce} </if>
		  <if test="forceNum != null and forceNum != ''"> and force_num = #{forceNum} </if>
		  <if test="leader != null and leader != ''"> and leader = #{leader} </if>
		  <if test="leaderPhone != null and leaderPhone != ''"> and leader_phone = #{leaderPhone} </if>
		  <if test="leaderMphone != null and leaderMphone != ''"> and leader_mphone = #{leaderMphone} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and audit_date = #{auditDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from exa_secret_office
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="examTaskid != null and examTaskid != ''"> and exam_taskid = #{examTaskid} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="phonePre != null and phonePre != ''"> and phone_pre = #{phonePre} </if>
		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  <if test="chargeman != null and chargeman != ''"> and chargeman = #{chargeman} </if>
		  <if test="chargemanPhonePre != null and chargemanPhonePre != ''"> and chargeman_phone_pre = #{chargemanPhonePre} </if>
		  <if test="chargemanPhone != null and chargemanPhone != ''"> and chargeman_phone = #{chargemanPhone} </if>
		  <if test="chargemanTel != null and chargemanTel != ''"> and chargeman_tel = #{chargemanTel} </if>
		  <if test="dutyMan != null and dutyMan != ''"> and duty_man = #{dutyMan} </if>
		  <if test="hasForce != null and hasForce != ''"> and has_force = #{hasForce} </if>
		  <if test="forceNum != null and forceNum != ''"> and force_num = #{forceNum} </if>
		  <if test="leader != null and leader != ''"> and leader = #{leader} </if>
		  <if test="leaderPhone != null and leaderPhone != ''"> and leader_phone = #{leaderPhone} </if>
		  <if test="leaderMphone != null and leaderMphone != ''"> and leader_mphone = #{leaderMphone} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and audit_date = #{auditDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.SecretOfficeDO" useGeneratedKeys="true" keyProperty="id">
		insert into exa_secret_office
		(
			exam_taskid, 
			regionid, 
			name, 
			pinyin, 
			type, 
			phone_pre, 
			phone, 
			chargeman, 
			chargeman_phone_pre, 
			chargeman_phone, 
			chargeman_tel, 
			duty_man, 
			has_force, 
			force_num, 
			leader, 
			leader_phone, 
			leader_mphone, 
			audit_status, 
			audit_operator, 
			audit_date, 
			operator, 
			update_date
		)
		values
		(
			#{examTaskid}, 
			#{regionid}, 
			#{name}, 
			#{pinyin}, 
			#{type}, 
			#{phonePre}, 
			#{phone}, 
			#{chargeman}, 
			#{chargemanPhonePre}, 
			#{chargemanPhone}, 
			#{chargemanTel}, 
			#{dutyMan}, 
			#{hasForce}, 
			#{forceNum}, 
			#{leader}, 
			#{leaderPhone}, 
			#{leaderMphone}, 
			#{auditStatus}, 
			#{auditOperator}, 
			#{auditDate}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.SecretOfficeDO">
		update exa_secret_office 
		<set>
			<if test="examTaskid != null">exam_taskid = #{examTaskid}, </if>
			<if test="regionid != null">regionid = #{regionid}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="phonePre != null">phone_pre = #{phonePre}, </if>
			<if test="phone != null">phone = #{phone}, </if>
			<if test="chargeman != null">chargeman = #{chargeman}, </if>
			<if test="chargemanPhonePre != null">chargeman_phone_pre = #{chargemanPhonePre}, </if>
			<if test="chargemanPhone != null">chargeman_phone = #{chargemanPhone}, </if>
			<if test="chargemanTel != null">chargeman_tel = #{chargemanTel}, </if>
			<if test="dutyMan != null">duty_man = #{dutyMan}, </if>
			<if test="hasForce != null">has_force = #{hasForce}, </if>
			<if test="forceNum != null">force_num = #{forceNum}, </if>
			<if test="leader != null">leader = #{leader}, </if>
			<if test="leaderPhone != null">leader_phone = #{leaderPhone}, </if>
			<if test="leaderMphone != null">leader_mphone = #{leaderMphone}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="auditOperator != null">audit_operator = #{auditOperator}, </if>
			<if test="auditDate != null">audit_date = #{auditDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update exa_secret_office set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  exa_secret_office set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<update id="batchAuditNo"  >
		update  exa_secret_office set audit_status ='a',audit_operator=#{auditOperator} ,audit_date=now() where id in
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	<update id="batchAudit"  >
		update  exa_secret_office set audit_status ='b',audit_operator=#{auditOperator} ,audit_date=now() where id in
		<foreach item="id" collection="ids" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
</mapper>