<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.school.student.dao.SchoolScoreStudentDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.SchoolScoreDO">
		select
            id,
            studentid,
            speciality_recordid,
            courseid,
            grade,
            ratio,
            status,
            audit_status,
            audit_operator,
            audit_date,
            operator,
            update_date,
            enabled_flag
		from stu_school_score
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.SchoolScoreDO">
		select
			a.id,
			a.studentid,
			a.speciality_recordid,
			a.courseid,
			a.grade,
			a.ratio,
			a.status,
			a.audit_status,
			a.audit_operator,
			a.audit_date,
			a.operator,
			a.update_date,
			a.enabled_flag,
			b.name as courseName
		 from stu_school_score a left join pla_course b  on a.courseid = b.id
        <where>
         and a.enabled_flag=1
		  <if test="id != null and id != ''"> and a.id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and a.studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and a.speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and a.courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and a.grade = #{grade} </if>
		  <if test="ratio != null and ratio != ''"> and a.ratio = #{ratio} </if>
		  <if test="status != null and status != ''"> and a.status = #{status} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and a.audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and a.audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and a.audit_date = #{auditDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and a.enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by a.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_school_score
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="ratio != null and ratio != ''"> and ratio = #{ratio} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and audit_date = #{auditDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.SchoolScoreDO" useGeneratedKeys="true" keyProperty="id">
		insert into stu_school_score
		(
			studentid, 
			speciality_recordid, 
			courseid, 
			grade, 
			ratio, 
			status, 
			audit_status, 
			audit_operator, 
			audit_date, 
			operator, 
			update_date
		)
		values
		(
			#{studentid}, 
			#{specialityRecordid}, 
			#{courseid}, 
			#{grade}, 
			#{ratio}, 
			#{status}, 
			#{auditStatus}, 
			#{auditOperator}, 
			#{auditDate}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.SchoolScoreDO">
		update stu_school_score 
		<set>
			<if test="studentid != null">studentid = #{studentid}, </if>
			<if test="specialityRecordid != null">speciality_recordid = #{specialityRecordid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="grade != null">grade = #{grade}, </if>
			<if test="ratio != null">ratio = #{ratio}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="auditOperator != null">audit_operator = #{auditOperator}, </if>
			<if test="auditDate != null">audit_date = #{auditDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_school_score set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_school_score set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<select id="getSpecialityRegcordid" resultType="java.lang.String">
		select id
		from pla_speciality_record
		<where>
			and enabled_flag=1
			<if test="specialityid != null and specialityid != ''">and specialityid = #{specialityid} </if>
			<if test="schoolid != null and schoolid != ''">and schoolid = #{schoolid} </if>
			<if test="collegeid != null and collegeid != ''">and collegeid = #{collegeid} </if>
			<if test="direction != null and direction != ''">and direction = #{direction} </if>

		</where>
	</select>
	<insert id="inPutGrade">
		insert into stu_school_score
		(
			studentid,
			speciality_recordid,
			courseid,
			grade,
			status,
			audit_status,
			operator,
			update_date,
			enabled_flag
		)
		values
		(
			#{studentid},
			#{specialityRecordid},
			#{courseid},
			#{grade},
			'a',
			'a',
			#{operator},
			now(),
			1
		)
	</insert>

</mapper>