<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.school.student.dao.StudentStudentDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.StudentDO">
		select
            id,
            type,
            name,
            ename,
            pinyin,
            gender,
            home_type,
            politics,
            nation,
            profession,
            birthday,
            native_place,
            certificate_type,
            certificate_no,
            phone,
            mphone,
            address,
            post_code,
            email,
            regionid,
            child_regionid,
            schoolid,
            collegeid,
            teach_siteid,
            groupid,
            old_studentid,
            classify,
            status,
            audit_status,
            confirm_status,
            back_operator,
            back_date,
            confirm_operator,
            confirm_date,
            operator,
            update_date,
            db_flag,
            create_date,
            enabled_flag,
            pic,
            idcard_pic
		from v_stu_student

		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.StudentDO">
        select
        b.id,
		b.studentid,
        a.certificate_no,
        a.name,
        a.gender,
        a.mphone,
        a.nation,
        a.native_place,
        a.schoolid,
        a.collegeid,
        a.teach_siteid,
        a.status,
        a.audit_status,
        a.confirm_status,
        a.create_date,
        b.speciality_recordid,
        b.school_speciality_regid,
		c.specialityid,
		a.schoolid,
		a.collegeid,
		a.teach_siteid,
		b.reg_year,
		b.reg_season,
		b.db_flag

        from v_stu_student_speciality b  left join v_stu_student a on b.studentid=a.id
        left join pla_speciality_record c on c.id= b.speciality_recordid

        <where>
			and a.enabled_flag=1
			and b.enabled_flag=1
			and c.enabled_flag=1
		  <if test="id != null and id != ''"> and b.id = #{id} </if>
			<if test="specialityid != null and specialityid != ''">and c.specialityid = #{specialityid} </if>
			<if test="schoolSpecialityRegid != null and schoolSpecialityRegid != ''">and b.school_speciality_regid = #{schoolSpecialityRegid} </if>
		  <if test="type != null and type != ''"> and a.type = #{type} </if>
		  <if test="name != null and name != ''"> and a.name = #{name} </if>
		  <if test="ename != null and ename != ''"> and a.ename = #{ename} </if>
		  <if test="pinyin != null and pinyin != ''"> and a.pinyin = #{pinyin} </if>
		  <if test="gender != null and gender != ''"> and a.gender = #{gender} </if>
		  <if test="homeType != null and homeType != ''"> and a.home_type = #{homeType} </if>
		  <if test="politics != null and politics != ''"> and a.politics = #{politics} </if>
		  <if test="nation != null and nation != ''"> and a.nation = #{nation} </if>
		  <if test="profession != null and profession != ''"> and a.profession = #{profession} </if>
		  <if test="birthday != null and birthday != ''"> and a.birthday = #{birthday} </if>
		  <if test="nativePlace != null and nativePlace != ''"> and a.native_place = #{nativePlace} </if>
		  <if test="certificateType != null and certificateType != ''"> and a.certificate_type = #{certificateType} </if>
		  <if test="certificateNo != null and certificateNo != ''"> and a.certificate_no = #{certificateNo} </if>
		  <if test="phone != null and phone != ''"> and a.phone = #{phone} </if>
		  <if test="mphone != null and mphone != ''"> and a.mphone = #{mphone} </if>
		  <if test="address != null and address != ''"> and a.address = #{address} </if>
		  <if test="postCode != null and postCode != ''"> and a.post_code = #{postCode} </if>
		  <if test="email != null and email != ''"> and a.email = #{email} </if>
		  <if test="regionid != null and regionid != ''"> and a.regionid = #{regionid} </if>
		  <if test="childRegionid != null and childRegionid != ''"> and a.child_regionid = #{childRegionid} </if>
		  <if test="schoolid != null and schoolid != ''"> and a.schoolid = #{schoolid} </if>
		  <if test="collegeid != null and collegeid != ''"> and a.collegeid = #{collegeid} </if>
		  <if test="teachSiteid != null and teachSiteid != ''"> and a.teach_siteid = #{teachSiteid} </if>
		  <if test="groupid != null and groupid != ''"> and a.groupid = #{groupid} </if>
		  <if test="oldStudentid != null and oldStudentid != ''"> and a.old_studentid = #{oldStudentid} </if>
		  <if test="classify != null and classify != ''"> and a.classify = #{classify} </if>
		  <if test="status != null and status != ''"> and a.status = #{status} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and a.audit_status = #{auditStatus} </if>
		  <if test="confirmStatus != null and confirmStatus != ''"> and a.confirm_status = #{confirmStatus} </if>
		  <if test="backOperator != null and backOperator != ''"> and a.back_operator = #{backOperator} </if>
		  <if test="backDate != null and backDate != ''"> and a.back_date = #{backDate} </if>
		  <if test="confirmOperator != null and confirmOperator != ''"> and a.confirm_operator = #{confirmOperator} </if>
		  <if test="confirmDate != null and confirmDate != ''"> and a.confirm_date = #{confirmDate} </if>
		  <if test="dbFlag != null and dbFlag != ''"> and a.db_flag = #{dbFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by b.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select
		count(*)
		from v_stu_student_speciality b left join v_stu_student a on b.studentid=a.id
		left join pla_speciality_record c on c.id= b.speciality_recordid


		<where>
			and a.enabled_flag=1
			and b.enabled_flag=1
			and c.enabled_flag=1
			<if test="id != null and id != ''"> and b.id = #{id} </if>
			<if test="specialityid != null and specialityid != ''">and c.specialityid = #{specialityid} </if>
			<if test="schoolSpecialityRegid != null and schoolSpecialityRegid != ''">and b.school_speciality_regid = #{schoolSpecialityRegid} </if>

			<if test="type != null and type != ''"> and a.type = #{type} </if>
			<if test="name != null and name != ''"> and a.name = #{name} </if>
			<if test="ename != null and ename != ''"> and a.ename = #{ename} </if>
			<if test="pinyin != null and pinyin != ''"> and a.pinyin = #{pinyin} </if>
			<if test="gender != null and gender != ''"> and a.gender = #{gender} </if>
			<if test="homeType != null and homeType != ''"> and a.home_type = #{homeType} </if>
			<if test="politics != null and politics != ''"> and a.politics = #{politics} </if>
			<if test="nation != null and nation != ''"> and a.nation = #{nation} </if>
			<if test="profession != null and profession != ''"> and a.profession = #{profession} </if>
			<if test="birthday != null and birthday != ''"> and a.birthday = #{birthday} </if>
			<if test="nativePlace != null and nativePlace != ''"> and a.native_place = #{nativePlace} </if>
			<if test="certificateType != null and certificateType != ''"> and a.certificate_type = #{certificateType} </if>
			<if test="certificateNo != null and certificateNo != ''"> and a.a.certificate_no = #{certificateNo} </if>
			<if test="phone != null and phone != ''"> and a.phone = #{phone} </if>
			<if test="mphone != null and mphone != ''"> and a.mphone = #{mphone} </if>
			<if test="address != null and address != ''"> and a.address = #{address} </if>
			<if test="postCode != null and postCode != ''"> and a.post_code = #{postCode} </if>
			<if test="email != null and email != ''"> and a.email = #{email} </if>
			<if test="regionid != null and regionid != ''"> and a.regionid = #{regionid} </if>
			<if test="childRegionid != null and childRegionid != ''"> and a.child_regionid = #{childRegionid} </if>
			<if test="schoolid != null and schoolid != ''"> and a.schoolid = #{schoolid} </if>
			<if test="collegeid != null and collegeid != ''"> and a.collegeid = #{collegeid} </if>
			<if test="teachSiteid != null and teachSiteid != ''"> and a.teach_siteid = #{teachSiteid} </if>
			<if test="groupid != null and groupid != ''"> and a.groupid = #{groupid} </if>
			<if test="oldStudentid != null and oldStudentid != ''"> and a.old_studentid = #{oldStudentid} </if>
			<if test="classify != null and classify != ''"> and a.classify = #{classify} </if>
			<if test="status != null and status != ''"> and a.status = #{status} </if>
			<if test="auditStatus != null and auditStatus != ''"> and a.audit_status = #{auditStatus} </if>
			<if test="confirmStatus != null and confirmStatus != ''"> and a.confirm_status = #{confirmStatus} </if>
			<if test="backOperator != null and backOperator != ''"> and a.back_operator = #{backOperator} </if>
			<if test="backDate != null and backDate != ''"> and a.back_date = #{backDate} </if>
			<if test="confirmOperator != null and confirmOperator != ''"> and a.confirm_operator = #{confirmOperator} </if>
			<if test="confirmDate != null and confirmDate != ''"> and a.confirm_date = #{confirmDate} </if>
			<if test="dbFlag != null and dbFlag != ''"> and a.db_flag = #{dbFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.StudentDO">
		insert into stu_student
		(
			id, 
			type, 
			name, 
			ename, 
			pinyin, 
			gender, 
			home_type, 
			politics, 
			nation, 
			profession, 
			birthday, 
			native_place, 
			certificate_type, 
			certificate_no, 
			phone, 
			mphone, 
			address, 
			post_code, 
			email, 
			regionid, 
			child_regionid, 
			schoolid, 
			collegeid, 
			teach_siteid, 
			groupid, 
			old_studentid, 
			classify, 
			status, 
			audit_status, 
			confirm_status, 
			back_operator, 
			back_date, 
			confirm_operator, 
			confirm_date, 
			operator, 
			update_date,
			db_flag,
			create_date,
			pic,
			 idcard_pic,
			 key_value,
			 kjh
		)
		values
		(
			#{id}, 
			#{type}, 
			#{name}, 
			#{ename}, 
			#{pinyin}, 
			#{gender}, 
			#{homeType}, 
			#{politics}, 
			#{nation}, 
			#{profession}, 
			#{birthday}, 
			#{nativePlace}, 
			#{certificateType}, 
			#{certificateNo}, 
			#{phone}, 
			#{mphone}, 
			#{address}, 
			#{postCode}, 
			#{email}, 
			#{regionid}, 
			#{childRegionid}, 
			#{schoolid}, 
			#{collegeid}, 
			#{teachSiteid}, 
			#{groupid}, 
			#{oldStudentid}, 
			#{classify}, 
			#{status}, 
			#{auditStatus}, 
			#{confirmStatus}, 
			#{backOperator}, 
			#{backDate}, 
			#{confirmOperator}, 
			#{confirmDate}, 
			#{operator}, 
			now(),
			#{dbFlag},
			now(),
			#{pic},
			#{idcardPic},
			 #{keyValue},
			 #{kjh}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.StudentDO">
		update stu_student 
		<set>
			<if test="type != null">type = #{type}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="ename != null">ename = #{ename}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="gender != null">gender = #{gender}, </if>
			<if test="homeType != null">home_type = #{homeType}, </if>
			<if test="politics != null">politics = #{politics}, </if>
			<if test="nation != null">nation = #{nation}, </if>
			<if test="profession != null">profession = #{profession}, </if>
			<if test="birthday != null">birthday = #{birthday}, </if>
			<if test="nativePlace != null">native_place = #{nativePlace}, </if>
			<if test="certificateType != null">certificate_type = #{certificateType}, </if>
			<if test="certificateNo != null">certificate_no = #{certificateNo}, </if>
			<if test="phone != null">phone = #{phone}, </if>
			<if test="mphone != null">mphone = #{mphone}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="postCode != null">post_code = #{postCode}, </if>
			<if test="email != null">email = #{email}, </if>
			<if test="regionid != null">regionid = #{regionid}, </if>
			<if test="childRegionid != null">child_regionid = #{childRegionid}, </if>
			<if test="schoolid != null">schoolid = #{schoolid}, </if>
			<if test="collegeid != null">collegeid = #{collegeid}, </if>
			<if test="teachSiteid != null">teach_siteid = #{teachSiteid}, </if>
			<if test="groupid != null">groupid = #{groupid}, </if>
			<if test="oldStudentid != null">old_studentid = #{oldStudentid}, </if>
			<if test="classify != null">classify = #{classify}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="confirmStatus != null">confirm_status = #{confirmStatus}, </if>
			<if test="backOperator != null">back_operator = #{backOperator}, </if>
			<if test="backDate != null">back_date = #{backDate}, </if>
			<if test="confirmOperator != null">confirm_operator = #{confirmOperator}, </if>
			<if test="confirmDate != null">confirm_date = #{confirmDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now(),			<if test="dbFlag != null">db_flag = #{dbFlag}, </if>
			<if test="pic != null">pic = #{pic}, </if>
			<if test="idcardPic != null">idcard_pic = #{idcardPic}, </if>

			<if test="keyValue != keyValue">key_value = #{keyValue}, </if>
			<if test="kjh != kjh">kjh = #{kjh}, </if>
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_student set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_student set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<update id="updateNMD" parameterType="com.hxy.nzxy.stexam.domain.StudentDO">
		update stu_student
		<set>
			<if test="type != null">type = #{type}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="ename != null">ename = #{ename}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="gender != null">gender = #{gender}, </if>
			<if test="homeType != null">home_type = #{homeType}, </if>
			<if test="politics != null">politics = #{politics}, </if>
			<if test="nation != null">nation = #{nation}, </if>
			<if test="profession != null">profession = #{profession}, </if>
			<if test="birthday != null">birthday = #{birthday}, </if>
			<if test="nativePlace != null">native_place = #{nativePlace}, </if>
			<if test="certificateType != null">certificate_type = #{certificateType}, </if>
			<if test="certificateNo != null">certificate_no = #{certificateNo}, </if>
			<if test="phone != null">phone = #{phone}, </if>
			<if test="mphone != null">mphone = #{mphone}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="postCode != null">post_code = #{postCode}, </if>
			<if test="email != null">email = #{email}, </if>
			<if test="regionid != null">regionid = #{regionid}, </if>
			<if test="childRegionid != null">child_regionid = #{childRegionid}, </if>
			<if test="schoolid != null">schoolid = #{schoolid}, </if>
			<if test="collegeid != null">collegeid = #{collegeid}, </if>
			<if test="teachSiteid != null">teach_siteid = #{teachSiteid}, </if>
			<if test="groupid != null">groupid = #{groupid}, </if>
			<if test="oldStudentid != null">old_studentid = #{oldStudentid}, </if>
			<if test="classify != null">classify = #{classify}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="confirmStatus != null">confirm_status = #{confirmStatus}, </if>
			<if test="backOperator != null">back_operator = #{backOperator}, </if>
			<if test="backDate != null">back_date = #{backDate}, </if>
			<if test="confirmOperator != null">confirm_operator = #{confirmOperator}, </if>
			<if test="confirmDate != null">confirm_date = #{confirmDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now(),			<if test="dbFlag != null">db_flag = #{dbFlag}, </if>
			<if test="pic != null">pic = #{pic}, </if>
			<if test="idcardPic != null">idcard_pic = #{idcardPic}, </if>

			<if test="keyValue != keyValue">key_value = #{keyValue}, </if>
			<if test="kjh != kjh">kjh = #{kjh}, </if>
		</set>
		where id = #{id}
	</update>
</mapper>