<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.school.school.dao.TeachSiteSchoolDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.TeachSiteDO">
		select
            id,
            school_siteid,
            collegeid,
            name,
            pinyin,
            linkman,
            phone,
            mphone,
            email,
            post_code,
            address,
            status,
            operator,
            update_date,
            enabled_flag
		from sch_teach_site
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.TeachSiteDO">
		select a.id,a.name,a.pinyin,a.linkman,a.phone,
		a.mphone,a.email,a.post_code,a.address,a.status,a.operator,a.update_date,
		c.name as regionName ,c.parent_name
		from sch_teach_site a
		left join sch_school_site b  on a.school_siteid=b.id
		left join reg_region c on c.id=b.regionid
        <where>
			and a.enabled_flag=1
		  <if test="id != null and id != ''"> and  a.id = #{id} </if>
		  <if test="schoolSiteid != null and schoolSiteid != ''"> and  a.school_siteid = #{schoolSiteid} </if>
			<if test="schoolid != null and schoolid != ''"> and  b.schoolid = #{schoolid} </if>
		  <if test="collegeid != null and collegeid != ''"> and a.collegeid = #{collegeid} </if>
		  <if test="name != null and name != ''"> and  a.name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and  a.pinyin = #{pinyin} </if>
		  <if test="linkman != null and linkman != ''"> and  a.linkman = #{linkman} </if>
		  <if test="phone != null and phone != ''"> and  a.phone = #{phone} </if>
		  <if test="mphone != null and mphone != ''"> and  a.mphone = #{mphone} </if>
		  <if test="email != null and email != ''"> and  a.email = #{email} </if>
		  <if test="postCode != null and postCode != ''"> and  a.post_code = #{postCode} </if>
		  <if test="address != null and address != ''"> and  a.address = #{address} </if>
		  <if test="status != null and status != ''"> and  a.status = #{status} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sch_teach_site
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="schoolSiteid != null and schoolSiteid != ''"> and school_siteid = #{schoolSiteid} </if>
		  <if test="collegeid != null and collegeid != ''"> and collegeid = #{collegeid} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="linkman != null and linkman != ''"> and linkman = #{linkman} </if>
		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  <if test="mphone != null and mphone != ''"> and mphone = #{mphone} </if>
		  <if test="email != null and email != ''"> and email = #{email} </if>
		  <if test="postCode != null and postCode != ''"> and post_code = #{postCode} </if>
		  <if test="address != null and address != ''"> and address = #{address} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.TeachSiteDO" useGeneratedKeys="true" keyProperty="id">
		insert into sch_teach_site
		(
			school_siteid,
			regionid,
			collegeid, 
			name, 
			pinyin, 
			linkman, 
			phone, 
			mphone, 
			email, 
			post_code, 
			address, 
			status, 
			operator, 
			update_date
		)
		values
		(
			#{schoolSiteid},
			#{regionid},
			#{collegeid}, 
			#{name}, 
			#{pinyin}, 
			#{linkman}, 
			#{phone}, 
			#{mphone}, 
			#{email}, 
			#{postCode}, 
			#{address}, 
			#{status}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.TeachSiteDO">
		update sch_teach_site 
		<set>
			<if test="schoolSiteid != null">school_siteid = #{schoolSiteid}, </if>
			<if test="collegeid != null">collegeid = #{collegeid}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="linkman != null">linkman = #{linkman}, </if>
			<if test="phone != null">phone = #{phone}, </if>
			<if test="mphone != null">mphone = #{mphone}, </if>
			<if test="email != null">email = #{email}, </if>
			<if test="postCode != null">post_code = #{postCode}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update sch_teach_site set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  sch_teach_site set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>