<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div>
	<div id="Mask"></div>
	<div id="Progress" data-dimension="250" data-text="0%" data-info="导出进度" data-width="30" data-fontsize="38" data-percent="0" data-fgcolor="#61a9dc" data-bgcolor="#eee"></div>
</div>
<form method="post" th:action="@{/school/specialityReg/searchOutExcelZY}">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12" style="padding-right:0">
			<div class="col-sm-3">
				<div class="ibox ibox-body">
					<div class="ibox-title">
						<h5>助学组织列表</h5>
					</div>
					
					<div class="ibox-content" style="overflow:auto;max-height:1000px;">
						<div id="jstree"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
			<div class="ibox">
				<div class="ibox-body">
				<input type="hidden" id="orgid">
					<input type="hidden" id="schoolid" name="schoolid">
					<div class="fixed-table-toolbar">
						<!-- <div class="columns pull-left nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
						<div class="columns pull-left nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
						<div class="columns pull-left" style="width:280px">
							<span>助学组织：</span>
							<select id="zhuxue" name="zhuxue" style="height:34px;width:200px">
							</select>
						</div> -->

						<div class="columns pull-left">
							<span>审核状态：</span>
						</div>
						<div class="columns pull-left">
							<select id="auditStatus" name="auditStatus" style="height:34px;width:90px" class="form-control">
								<option th:each="item:${sch_speciality_reg_audit_status}" th:value="${item.id}" th:text="${item.name}" ></option>
							</select>
						</div>
						<div class="columns pull-left" style="margin-left:10px">
							<button class="btn btn-success" onclick="reLoad()" type="button">查询</button>
						</div>
						<div class="columns pull-left" style="margin-left:10px">
							<button  type="button" class="btn  btn-primary" onclick="shenghe()">审核</button>
							<button  type="button" class="btn  btn-danger" onclick="cancalAudit()">取消审核</button>
							<!-- <button shiro:hasPermission="school:specialityReg:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="school:specialityReg:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button> -->
						</div>
						<div class="columns pull-left" style="margin-left: 5px;">

								<button  type="button" class="btn  btn-primary" onclick="importData()">
									专业开设备案导入
								</button>
								<button  type="submit" onclick="onZipAll()" class="btn  btn-primary" >
									专业开设备案导出
								</button>


						</div>

					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
			</div>
		</div>
	    <!--shiro控制bootstraptable行内按钮可见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="school:specialityReg:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="school:specialityReg:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="school:specialityReg:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/center/school/specialityReg/specialityReg.js" th:src="@{/js/appjs/center/school/specialityReg/specialityReg.js}"></script>
</form>
</body>
</html>