<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div>
	<div id="Mask"></div>
	<div id="Progress" data-dimension="250" data-text="0%" data-info="导出进度" data-width="30" data-fontsize="38" data-percent="0" data-fgcolor="#61a9dc" data-bgcolor="#eee"></div>
</div>
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<form method="post" th:action="@{/student/studentRegion/searchOutExcel}" id="form">
					<div class="fixed-table-toolbar">
						<input id="regionid" name="regionid" type="hidden" th:value="${regionid}">
						<input id="examCourseid" name="examCourseid" type="hidden" th:value="${examCourseid}">
						<div class="columns pull-left" style="margin-right:10px">
							报考县区
						</div>
						<div class="columns pull-left" style="margin-right:10px;min-width:240px;">
							<select id="childRegionid" name="childRegionid" class="form-control">
								<!-- <option th:each="item:${specialityList}" th:value="${item.id}" th:text="${item.name}" ></option> -->
							</select>
						</div>
						<div class="columns pull-left" style="margin-right:10px">
							考试任务
						</div>
						<div class="columns pull-left" style="margin-right:10px;min-width:240px;">
							<select id="examid" name="examid" class="form-control">
							</select>
						</div>
						<!--<div class="columns pull-left" style="margin-right:10px">
							报考类型
						</div>
						<div class="columns pull-left" style="margin-right:10px;min-width:240px;">
							<select id="examTaskid" name="examTaskid" class="form-control">
								&lt;!&ndash; <option>请选择教学点</option> &ndash;&gt;
								&lt;!&ndash; <option th:each="item:${specialityList}" th:value="${item.id}" th:text="${item.name}" ></option> &ndash;&gt;
							</select>
						</div><br><br><br>-->
						<div class="columns pull-left" style="margin-right:10px">
							集体代码
						</div>
						<div class="columns pull-left" style="margin-right:10px;">
							<input id="groupid" name="groupid" type="hidden">
							<input id="groupid2" class="form-control" onclick="jtDm()">
						</div>
						<div class="columns pull-left" style="margin-right:10px">
							报考专业
						</div>
						<div class="columns pull-left" style="margin-right:10px;">
							
							<input id="specialityname" name="specialityname" type="hidden">
							<input id="specialityname2"  class="form-control" onclick="bkZy()">
						</div>
						<div class="columns pull-left" style="margin-right:10px;">
							<button class="btn btn-success" type="button" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-left">
							<button shiro:hasPermission="student:studentRegion:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="student:studentRegion:batchRemove" type="button" class="btn  btn-danger"
									onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button type="button" class="btn  btn-primary" onclick="onZipAll('student/studentRegion/searchOutExcel')">
								导出报名信息
							</button>
						</div>
						<table id="exampleTable" data-mobile-responsive="true"></table>

					</div>
				</form>
				</div>
			</div>
		</div>
	    <!--shiro控制bootstraptable行内按钮可见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="student:studentRegion:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="student:studentRegion:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="student:studentRegion:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/region/student/studentRegion/studentRegion.js" th:src="@{/js/appjs/region/student/studentRegion/studentRegion.js}"></script>
</body>
</html>