<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left  nopadding">
							考试任务
						</div>
						<div class="columns pull-left  nopadding" style="margin-left:10px;margin-right:10px">
							<select id="searchName" type="text" class="form-control"></select>
						</div>
						<div class="columns pull-left  nopadding">
							审核状态
						</div>
						<div class="columns pull-left  nopadding" style="margin-left:10px;margin-right:10px">
							<select id="auditStatus" type="auditStatus" class="form-control">
								<option th:each="item:${exa_secret_office_audit_status}" th:value="${item.id}" th:text="${item.name}"></option>
							</select>
						</div>
						<div class="columns pull-left" style="margin-left:10px">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
							<button class="btn  btn-primary" onclick="batchAudit()">批量审核</button>
							<button class="btn  btn-danger" onclick="cancelAudit()">批量取消审核</button>
						</div>
						<div class="columns pull-left">
							<!-- <button shiro:hasPermission="exam:secretOffice:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button> 
							<button shiro:hasPermission="exam:secretOffice:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>-->
						</div>
						
						
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	    <!--shiro控制bootstraptable行内按钮可见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="exam:secretOffice:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="exam:secretOffice:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="exam:secretOffice:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/center/exam/secretOffice/secretOffice.js" th:src="@{/js/appjs/center/exam/secretOffice/secretOffice.js}"></script>
</body>
</html>