<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${dept.id}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-2 control-label">上级部门：</label>
								<div class="col-sm-9">
									<input id="parentid" name="parentid" class="hidden" th:value="${dept.parentid}">
									<input id="parentName" name="parentName" class="form-control" type="text" style="cursor: pointer;"
										   onclick="openDeptTree()" readonly="readonly" placeholder="选择上级部门" th:value="${parentName}">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">名称：</label>
								<div class="col-sm-9">
									<input id="name" name="name" th:value="${dept.name}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">联系人：</label>
								<div class="col-sm-9">
									<input id="linkman" name="linkman" th:value="${dept.linkman}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">联系电话：</label>
								<div class="col-sm-9">
									<input id="phone" name="phone" th:value="${dept.phone}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">传真：</label>
								<div class="col-sm-9">
									<input id="fax" name="fax" th:value="${dept.fax}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">联系地址：</label>
								<div class="col-sm-9">
									<input id="address" name="address" th:value="${dept.address}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">邮编：</label>
								<div class="col-sm-9">
									<input id="postCode" name="postCode" th:value="${dept.postCode}" class="form-control" type="text">
								</div>
							</div>
                            <div class="form-group">
								<label class="col-sm-2 control-label">电子邮箱：</label>
								<div class="col-sm-9">
									<input id="email" name="email" th:value="${dept.email}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-danger" onclick="layerModalFormClose()">取消</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/system/dept/edit.js" th:src="@{/js/appjs/system/dept/edit.js}">
	</script>
</body>
</html>
