<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox ibox-body">
                <div class="ibox-title">
                    <h5>选择机构</h5>
                </div>
                <div class="ibox-content" style="overflow:auto;max-height:1000px;">
                    <div id="jstree" ></div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
                        <input id="parentid" name="parentid" type="hidden" th:value="${org.id}">
                        <input id="orgType" name="orgType" type="hidden" th:value="${org.type}">
                        <div class="columns pull-left">
                            <button shiro:hasPermission="system:org:add" type="button" class="btn  btn-primary"
                                    onclick="add('0')">
                                <i class="fa fa-plus" aria-hidden="true"></i>添加
                            </button>
                        </div>
                        <div class="columns pull-right">
                            <button class="btn btn-success" onclick="reLoad()">查询</button>
                        </div>
                        <div class="columns pull-right col-md-2 nopadding">
                            <input id="searchName" type="text" class="form-control"
                                   placeholder="">
                        </div>
                    </div>
                    <table id="exampleTable" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--shiro控制bootstraptable行内按钮可见性 -->
    <div>
        <script type="text/javascript">
				var s_add_h = 'hidden';
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
        </script>
    </div>
    <div shiro:hasPermission="system:org:edit">
        <script type="text/javascript">
            s_edit_h = '';
        </script>
    </div>
    <div shiro:hasPermission="system:org:add">
        <script type="text/javascript">
            s_add_h = '';
        </script>
    </div>
    <div shiro:hasPermission="system:org:remove">
        <script type="text/javascript">
            var s_remove_h = '';
        </script>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/system/org/org.js" th:src="@{/js/appjs/system/org/org.js}"></script>
</body>
</html>