<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.student.dao.PracticeSchoolHisDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.PracticeSchoolHisDO">
		select
            id,
            studentid,
            speciality_recordid,
            courseid,
            grade,
            in_operator,
            in_date,
            status,
            confirm_status,
            confirm_operator,
            confirm_date,
            audit_status,
            audit_operator,
            audit_date,
            operator,
            update_date,
            db_flag,
            enabled_flag
		from stu_practice_school_his
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.PracticeSchoolHisDO">
		select
	        id,
	        studentid,
	        speciality_recordid,
	        courseid,
	        grade,
	        in_operator,
	        in_date,
	        status,
	        confirm_status,
	        confirm_operator,
	        confirm_date,
	        audit_status,
	        audit_operator,
	        audit_date,
	        operator,
	        update_date,
	        db_flag,
	        enabled_flag
		 from stu_practice_school_his
        <where>
         and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="inOperator != null and inOperator != ''"> and in_operator = #{inOperator} </if>
		  <if test="inDate != null and inDate != ''"> and in_date = #{inDate} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="confirmStatus != null and confirmStatus != ''"> and confirm_status = #{confirmStatus} </if>
		  <if test="confirmOperator != null and confirmOperator != ''"> and confirm_operator = #{confirmOperator} </if>
		  <if test="confirmDate != null and confirmDate != ''"> and confirm_date = #{confirmDate} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and audit_date = #{auditDate} </if>
		  <if test="dbFlag != null and dbFlag != ''"> and db_flag = #{dbFlag} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_practice_school_his
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="inOperator != null and inOperator != ''"> and in_operator = #{inOperator} </if>
		  <if test="inDate != null and inDate != ''"> and in_date = #{inDate} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="confirmStatus != null and confirmStatus != ''"> and confirm_status = #{confirmStatus} </if>
		  <if test="confirmOperator != null and confirmOperator != ''"> and confirm_operator = #{confirmOperator} </if>
		  <if test="confirmDate != null and confirmDate != ''"> and confirm_date = #{confirmDate} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="auditOperator != null and auditOperator != ''"> and audit_operator = #{auditOperator} </if>
		  <if test="auditDate != null and auditDate != ''"> and audit_date = #{auditDate} </if>
		  <if test="dbFlag != null and dbFlag != ''"> and db_flag = #{dbFlag} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.PracticeSchoolHisDO" useGeneratedKeys="true" keyProperty="id">
		insert into stu_practice_school_his
		(
			studentid, 
			speciality_recordid, 
			courseid, 
			grade, 
			in_operator, 
			in_date, 
			status, 
			confirm_status, 
			confirm_operator, 
			confirm_date, 
			audit_status, 
			audit_operator, 
			audit_date, 
			operator, 
			update_date, 
			db_flag
		)
		values
		(
			#{studentid}, 
			#{specialityRecordid}, 
			#{courseid}, 
			#{grade}, 
			#{inOperator}, 
			#{inDate}, 
			#{status}, 
			#{confirmStatus}, 
			#{confirmOperator}, 
			#{confirmDate}, 
			#{auditStatus}, 
			#{auditOperator}, 
			#{auditDate}, 
			#{operator}, 
			now(), 
			#{dbFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.PracticeSchoolHisDO">
		update stu_practice_school_his 
		<set>
			<if test="studentid != null">studentid = #{studentid}, </if>
			<if test="specialityRecordid != null">speciality_recordid = #{specialityRecordid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="grade != null">grade = #{grade}, </if>
			<if test="inOperator != null">in_operator = #{inOperator}, </if>
			<if test="inDate != null">in_date = #{inDate}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="confirmStatus != null">confirm_status = #{confirmStatus}, </if>
			<if test="confirmOperator != null">confirm_operator = #{confirmOperator}, </if>
			<if test="confirmDate != null">confirm_date = #{confirmDate}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="auditOperator != null">audit_operator = #{auditOperator}, </if>
			<if test="auditDate != null">audit_date = #{auditDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now(), 			<if test="dbFlag != null">db_flag = #{dbFlag}</if>

		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_practice_school_his set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_practice_school_his set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>