<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.student.dao.ScoreHisDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.ScoreHisDO">
		select
            id,
            studentid,
            speciality_recordid,
            courseid,
            type,
            objid,
            kg_grade,
            zg_grade,
            old_grade,
            exam_grade,
            school_grade,
            grade,
            exam_flag,
            status,
            use_status,
            flag,
            source_courseid,
            et_dm,
            old_studentid,
            exam_date,
            old_courseid,
            school_scoreid,
            operator,
            update_date,
            db_flag,
            enabled_flag
		from stu_score_his
		where id = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.ScoreHisDO">
		select
	        id,
	        studentid,
	        speciality_recordid,
	        courseid,
	        type,
	        objid,
	        kg_grade,
	        zg_grade,
	        old_grade,
	        exam_grade,
	        school_grade,
	        grade,
	        exam_flag,
	        status,
	        use_status,
	        flag,
	        source_courseid,
	        et_dm,
	        old_studentid,
	        exam_date,
	        old_courseid,
	        school_scoreid,
	        operator,
	        update_date,
	        db_flag,
	        enabled_flag
		 from stu_score_his
        <where>
         and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="objid != null and objid != ''"> and objid = #{objid} </if>
		  <if test="kgGrade != null and kgGrade != ''"> and kg_grade = #{kgGrade} </if>
		  <if test="zgGrade != null and zgGrade != ''"> and zg_grade = #{zgGrade} </if>
		  <if test="oldGrade != null and oldGrade != ''"> and old_grade = #{oldGrade} </if>
		  <if test="examGrade != null and examGrade != ''"> and exam_grade = #{examGrade} </if>
		  <if test="schoolGrade != null and schoolGrade != ''"> and school_grade = #{schoolGrade} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="examFlag != null and examFlag != ''"> and exam_flag = #{examFlag} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="useStatus != null and useStatus != ''"> and use_status = #{useStatus} </if>
		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  <if test="sourceCourseid != null and sourceCourseid != ''"> and source_courseid = #{sourceCourseid} </if>
		  <if test="etDm != null and etDm != ''"> and et_dm = #{etDm} </if>
		  <if test="oldStudentid != null and oldStudentid != ''"> and old_studentid = #{oldStudentid} </if>
		  <if test="examDate != null and examDate != ''"> and exam_date = #{examDate} </if>
		  <if test="oldCourseid != null and oldCourseid != ''"> and old_courseid = #{oldCourseid} </if>
		  <if test="schoolScoreid != null and schoolScoreid != ''"> and school_scoreid = #{schoolScoreid} </if>
		  <if test="dbFlag != null and dbFlag != ''"> and db_flag = #{dbFlag} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_score_his
		 <where>
             and enabled_flag=1
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="studentid != null and studentid != ''"> and studentid = #{studentid} </if>
		  <if test="specialityRecordid != null and specialityRecordid != ''"> and speciality_recordid = #{specialityRecordid} </if>
		  <if test="courseid != null and courseid != ''"> and courseid = #{courseid} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="objid != null and objid != ''"> and objid = #{objid} </if>
		  <if test="kgGrade != null and kgGrade != ''"> and kg_grade = #{kgGrade} </if>
		  <if test="zgGrade != null and zgGrade != ''"> and zg_grade = #{zgGrade} </if>
		  <if test="oldGrade != null and oldGrade != ''"> and old_grade = #{oldGrade} </if>
		  <if test="examGrade != null and examGrade != ''"> and exam_grade = #{examGrade} </if>
		  <if test="schoolGrade != null and schoolGrade != ''"> and school_grade = #{schoolGrade} </if>
		  <if test="grade != null and grade != ''"> and grade = #{grade} </if>
		  <if test="examFlag != null and examFlag != ''"> and exam_flag = #{examFlag} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="useStatus != null and useStatus != ''"> and use_status = #{useStatus} </if>
		  <if test="flag != null and flag != ''"> and flag = #{flag} </if>
		  <if test="sourceCourseid != null and sourceCourseid != ''"> and source_courseid = #{sourceCourseid} </if>
		  <if test="etDm != null and etDm != ''"> and et_dm = #{etDm} </if>
		  <if test="oldStudentid != null and oldStudentid != ''"> and old_studentid = #{oldStudentid} </if>
		  <if test="examDate != null and examDate != ''"> and exam_date = #{examDate} </if>
		  <if test="oldCourseid != null and oldCourseid != ''"> and old_courseid = #{oldCourseid} </if>
		  <if test="schoolScoreid != null and schoolScoreid != ''"> and school_scoreid = #{schoolScoreid} </if>
		  <if test="dbFlag != null and dbFlag != ''"> and db_flag = #{dbFlag} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.ScoreHisDO" useGeneratedKeys="true" keyProperty="id">
		insert into stu_score_his
		(
			studentid, 
			speciality_recordid, 
			courseid, 
			type, 
			objid, 
			kg_grade, 
			zg_grade, 
			old_grade, 
			exam_grade, 
			school_grade, 
			grade, 
			exam_flag, 
			status, 
			use_status, 
			flag, 
			source_courseid, 
			et_dm, 
			old_studentid, 
			exam_date, 
			old_courseid, 
			school_scoreid, 
			operator, 
			update_date, 
			db_flag
		)
		values
		(
			#{studentid}, 
			#{specialityRecordid}, 
			#{courseid}, 
			#{type}, 
			#{objid}, 
			#{kgGrade}, 
			#{zgGrade}, 
			#{oldGrade}, 
			#{examGrade}, 
			#{schoolGrade}, 
			#{grade}, 
			#{examFlag}, 
			#{status}, 
			#{useStatus}, 
			#{flag}, 
			#{sourceCourseid}, 
			#{etDm}, 
			#{oldStudentid}, 
			#{examDate}, 
			#{oldCourseid}, 
			#{schoolScoreid}, 
			#{operator}, 
			now(), 
			#{dbFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.ScoreHisDO">
		update stu_score_his 
		<set>
			<if test="studentid != null">studentid = #{studentid}, </if>
			<if test="specialityRecordid != null">speciality_recordid = #{specialityRecordid}, </if>
			<if test="courseid != null">courseid = #{courseid}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="objid != null">objid = #{objid}, </if>
			<if test="kgGrade != null">kg_grade = #{kgGrade}, </if>
			<if test="zgGrade != null">zg_grade = #{zgGrade}, </if>
			<if test="oldGrade != null">old_grade = #{oldGrade}, </if>
			<if test="examGrade != null">exam_grade = #{examGrade}, </if>
			<if test="schoolGrade != null">school_grade = #{schoolGrade}, </if>
			<if test="grade != null">grade = #{grade}, </if>
			<if test="examFlag != null">exam_flag = #{examFlag}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="useStatus != null">use_status = #{useStatus}, </if>
			<if test="flag != null">flag = #{flag}, </if>
			<if test="sourceCourseid != null">source_courseid = #{sourceCourseid}, </if>
			<if test="etDm != null">et_dm = #{etDm}, </if>
			<if test="oldStudentid != null">old_studentid = #{oldStudentid}, </if>
			<if test="examDate != null">exam_date = #{examDate}, </if>
			<if test="oldCourseid != null">old_courseid = #{oldCourseid}, </if>
			<if test="schoolScoreid != null">school_scoreid = #{schoolScoreid}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now(), 			<if test="dbFlag != null">db_flag = #{dbFlag}</if>

		</set>
		where id = #{id}
	</update>
	<update id="remove">
		update stu_score_his set enabled_flag =0  where id = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_score_his set enabled_flag =0 where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

</mapper>