<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxy.nzxy.stexam.center.student.dao.StudentLogDao">

	<select id="get" resultType="com.hxy.nzxy.stexam.domain.StudentLogDO">
		select
            change_type,
            user_type,
            id,
            type,
            name,
            ename,
            pinyin,
            gender,
            home_type,
            politics,
            nation,
            profession,
            birthday,
            native_place,
            certificate_type,
            certificate_no,
            phone,
            mphone,
            address,
            post_code,
            email,
            regionid,
            child_regionid,
            schoolid,
            groupid,
            classify,
            status,
            audit_status,
            confirm_status,
            back_operator,
            back_date,
            confirm_operator,
            confirm_date,
            operator,
            update_date,
            enabled_flag
		from stu_student_log
		where change_type = #{value}
	</select>

	<select id="list" resultType="com.hxy.nzxy.stexam.domain.StudentLogDO">
		select
	        change_type,
	        user_type,
	        id,
	        type,
	        name,
	        ename,
	        pinyin,
	        gender,
	        home_type,
	        politics,
	        nation,
	        profession,
	        birthday,
	        native_place,
	        certificate_type,
	        certificate_no,
	        phone,
	        mphone,
	        address,
	        post_code,
	        email,
	        regionid,
	        child_regionid,
	        schoolid,
	        groupid,
	        classify,
	        status,
	        audit_status,
	        confirm_status,
	        back_operator,
	        back_date,
	        confirm_operator,
	        confirm_date,
	        operator,
	        update_date,
	        enabled_flag
		 from stu_student_log
        <where>
         and enabled_flag=1
		  <if test="changeType != null and changeType != ''"> and change_type = #{changeType} </if>
		  <if test="userType != null and userType != ''"> and user_type = #{userType} </if>
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="ename != null and ename != ''"> and ename = #{ename} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="gender != null and gender != ''"> and gender = #{gender} </if>
		  <if test="homeType != null and homeType != ''"> and home_type = #{homeType} </if>
		  <if test="politics != null and politics != ''"> and politics = #{politics} </if>
		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  <if test="profession != null and profession != ''"> and profession = #{profession} </if>
		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  <if test="nativePlace != null and nativePlace != ''"> and native_place = #{nativePlace} </if>
		  <if test="certificateType != null and certificateType != ''"> and certificate_type = #{certificateType} </if>
		  <if test="certificateNo != null and certificateNo != ''"> and certificate_no = #{certificateNo} </if>
		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  <if test="mphone != null and mphone != ''"> and mphone = #{mphone} </if>
		  <if test="address != null and address != ''"> and address = #{address} </if>
		  <if test="postCode != null and postCode != ''"> and post_code = #{postCode} </if>
		  <if test="email != null and email != ''"> and email = #{email} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="childRegionid != null and childRegionid != ''"> and child_regionid = #{childRegionid} </if>
		  <if test="schoolid != null and schoolid != ''"> and schoolid = #{schoolid} </if>
		  <if test="groupid != null and groupid != ''"> and groupid = #{groupid} </if>
		  <if test="classify != null and classify != ''"> and classify = #{classify} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="confirmStatus != null and confirmStatus != ''"> and confirm_status = #{confirmStatus} </if>
		  <if test="backOperator != null and backOperator != ''"> and back_operator = #{backOperator} </if>
		  <if test="backDate != null and backDate != ''"> and back_date = #{backDate} </if>
		  <if test="confirmOperator != null and confirmOperator != ''"> and confirm_operator = #{confirmOperator} </if>
		  <if test="confirmDate != null and confirmDate != ''"> and confirm_date = #{confirmDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by change_type desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from stu_student_log
		 <where>
             and enabled_flag=1
		  <if test="changeType != null and changeType != ''"> and change_type = #{changeType} </if>
		  <if test="userType != null and userType != ''"> and user_type = #{userType} </if>
		  <if test="id != null and id != ''"> and id = #{id} </if>
		  <if test="type != null and type != ''"> and type = #{type} </if>
		  <if test="name != null and name != ''"> and name = #{name} </if>
		  <if test="ename != null and ename != ''"> and ename = #{ename} </if>
		  <if test="pinyin != null and pinyin != ''"> and pinyin = #{pinyin} </if>
		  <if test="gender != null and gender != ''"> and gender = #{gender} </if>
		  <if test="homeType != null and homeType != ''"> and home_type = #{homeType} </if>
		  <if test="politics != null and politics != ''"> and politics = #{politics} </if>
		  <if test="nation != null and nation != ''"> and nation = #{nation} </if>
		  <if test="profession != null and profession != ''"> and profession = #{profession} </if>
		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  <if test="nativePlace != null and nativePlace != ''"> and native_place = #{nativePlace} </if>
		  <if test="certificateType != null and certificateType != ''"> and certificate_type = #{certificateType} </if>
		  <if test="certificateNo != null and certificateNo != ''"> and certificate_no = #{certificateNo} </if>
		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  <if test="mphone != null and mphone != ''"> and mphone = #{mphone} </if>
		  <if test="address != null and address != ''"> and address = #{address} </if>
		  <if test="postCode != null and postCode != ''"> and post_code = #{postCode} </if>
		  <if test="email != null and email != ''"> and email = #{email} </if>
		  <if test="regionid != null and regionid != ''"> and regionid = #{regionid} </if>
		  <if test="childRegionid != null and childRegionid != ''"> and child_regionid = #{childRegionid} </if>
		  <if test="schoolid != null and schoolid != ''"> and schoolid = #{schoolid} </if>
		  <if test="groupid != null and groupid != ''"> and groupid = #{groupid} </if>
		  <if test="classify != null and classify != ''"> and classify = #{classify} </if>
		  <if test="status != null and status != ''"> and status = #{status} </if>
		  <if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus} </if>
		  <if test="confirmStatus != null and confirmStatus != ''"> and confirm_status = #{confirmStatus} </if>
		  <if test="backOperator != null and backOperator != ''"> and back_operator = #{backOperator} </if>
		  <if test="backDate != null and backDate != ''"> and back_date = #{backDate} </if>
		  <if test="confirmOperator != null and confirmOperator != ''"> and confirm_operator = #{confirmOperator} </if>
		  <if test="confirmDate != null and confirmDate != ''"> and confirm_date = #{confirmDate} </if>
		  <if test="enabledFlag != null and enabledFlag != ''"> and enabled_flag = #{enabledFlag} </if>
		</where>
	</select>
	 
	<insert id="save" parameterType="com.hxy.nzxy.stexam.domain.StudentLogDO">
		insert into stu_student_log
		(
			change_type, 
			user_type, 
			id, 
			type, 
			name, 
			ename, 
			pinyin, 
			gender, 
			home_type, 
			politics, 
			nation, 
			profession, 
			birthday, 
			native_place, 
			certificate_type, 
			certificate_no, 
			phone, 
			mphone, 
			address, 
			post_code, 
			email, 
			regionid, 
			child_regionid, 
			schoolid, 
			groupid, 
			classify, 
			status, 
			audit_status, 
			confirm_status, 
			back_operator, 
			back_date, 
			confirm_operator, 
			confirm_date, 
			operator, 
			update_date
		)
		values
		(
			#{changeType}, 
			#{userType}, 
			#{id}, 
			#{type}, 
			#{name}, 
			#{ename}, 
			#{pinyin}, 
			#{gender}, 
			#{homeType}, 
			#{politics}, 
			#{nation}, 
			#{profession}, 
			#{birthday}, 
			#{nativePlace}, 
			#{certificateType}, 
			#{certificateNo}, 
			#{phone}, 
			#{mphone}, 
			#{address}, 
			#{postCode}, 
			#{email}, 
			#{regionid}, 
			#{childRegionid}, 
			#{schoolid}, 
			#{groupid}, 
			#{classify}, 
			#{status}, 
			#{auditStatus}, 
			#{confirmStatus}, 
			#{backOperator}, 
			#{backDate}, 
			#{confirmOperator}, 
			#{confirmDate}, 
			#{operator}, 
			now()
		)
	</insert>
	 
	<update id="update" parameterType="com.hxy.nzxy.stexam.domain.StudentLogDO">
		update stu_student_log 
		<set>
			<if test="userType != null">user_type = #{userType}, </if>
			<if test="id != null">id = #{id}, </if>
			<if test="type != null">type = #{type}, </if>
			<if test="name != null">name = #{name}, </if>
			<if test="ename != null">ename = #{ename}, </if>
			<if test="pinyin != null">pinyin = #{pinyin}, </if>
			<if test="gender != null">gender = #{gender}, </if>
			<if test="homeType != null">home_type = #{homeType}, </if>
			<if test="politics != null">politics = #{politics}, </if>
			<if test="nation != null">nation = #{nation}, </if>
			<if test="profession != null">profession = #{profession}, </if>
			<if test="birthday != null">birthday = #{birthday}, </if>
			<if test="nativePlace != null">native_place = #{nativePlace}, </if>
			<if test="certificateType != null">certificate_type = #{certificateType}, </if>
			<if test="certificateNo != null">certificate_no = #{certificateNo}, </if>
			<if test="phone != null">phone = #{phone}, </if>
			<if test="mphone != null">mphone = #{mphone}, </if>
			<if test="address != null">address = #{address}, </if>
			<if test="postCode != null">post_code = #{postCode}, </if>
			<if test="email != null">email = #{email}, </if>
			<if test="regionid != null">regionid = #{regionid}, </if>
			<if test="childRegionid != null">child_regionid = #{childRegionid}, </if>
			<if test="schoolid != null">schoolid = #{schoolid}, </if>
			<if test="groupid != null">groupid = #{groupid}, </if>
			<if test="classify != null">classify = #{classify}, </if>
			<if test="status != null">status = #{status}, </if>
			<if test="auditStatus != null">audit_status = #{auditStatus}, </if>
			<if test="confirmStatus != null">confirm_status = #{confirmStatus}, </if>
			<if test="backOperator != null">back_operator = #{backOperator}, </if>
			<if test="backDate != null">back_date = #{backDate}, </if>
			<if test="confirmOperator != null">confirm_operator = #{confirmOperator}, </if>
			<if test="confirmDate != null">confirm_date = #{confirmDate}, </if>
			<if test="operator != null">operator = #{operator}, </if>
			update_date = now()
		</set>
		where change_type = #{changeType}
	</update>
	<update id="remove">
		update stu_student_log set enabled_flag =0  where change_type = #{value}
	</update>
	
	<update id="batchRemove">
        update  stu_student_log set enabled_flag =0 where change_type in
		<foreach item="changeType" collection="array" open="(" separator="," close=")">
			#{changeType}
		</foreach>
	</update>

</mapper>