<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-model数据源绑定</title>
   <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>原始文本信息：{{message}}</p>
        <p>v-model<input type="text" v-model="message"></p>
        <p>v-model.lazy<input type="text" v-model.lazy="message"></p>
        <p>v-model.number<input type="text" v-model.number="message"></p>
        <p>v-model.number<input type="text" v-model.trim="message"></p>
        <hr>
        <h3>文本域</h3>
        <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea>
        <h3>多选框绑定一个值</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
    </div>
</body>
</html>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            message:'hello vue',
            isTrue:false
        }
    })
</script>
