<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<table class="table table-bordered table-style">
							<input id="id" name="id" th:value="${book.id}"  type="hidden">
							<input id="courseid" name="courseid" th:value="${book.courseid}" class="form-control" type="hidden">
							<tr>
								<td>
									<label><span style="color:red">*</span>教材类别：</label>
								</td>
								<td>
									<select id="classify" name="classify" class="form-control">
										<option th:each="item:${pla_book_classify}" th:value="${item.id}" th:text="${item.name}" th:field="${book.classify}"></option>
									</select>
								</td>
								<td>
									<label><span style="color:red">*</span>课程名称：</label>
								</td>
								<td>
									<input id="coursess" name="coursess" class="form-control" type="text" onclick="courseName()">
								</td>
							</tr>
                            <tr>
								<td>
									<label><span style="color:red">*</span>名称：</label>
								</td>
								<td>
									<input id="name" name="name" th:value="${book.name}" class="form-control" type="text" onkeyup="spell()" onchange="spell()">
								</td>
								<td>
									<label>拼音：</label>
								</td>
								<td>
									<input id="pinyin" name="pinyin" th:value="${book.pinyin}" class="form-control" type="text">
								</td>
							</tr>
                           <tr>
								<td>
									<label>主编：</label>
								</td>
								<td>
									<input id="chiefEditor" name="chiefEditor" th:value="${book.chiefEditor}" class="form-control" type="text">
								</td>
								<td>
									<label>出板社：</label>
								</td>
								<td>
									<input id="publisher" name="publisher" th:value="${book.publisher}" class="form-control" type="text">
								</div>
								</td>
							</tr>
                           <tr>
								<td>
									<label>版次：</label>
								</td>
								<td>
									<input id="version" name="version" th:value="${book.version}" class="form-control" type="text">
								</td>
								<td>
									<label>单价：</label>
								</td>
								<td>
									<input id="price" name="price" th:value="${book.price}" class="form-control" type="text">
								</td>
							</tr>
                             <tr>
								<td>
									<label><span style="color:red">*</span>教材类型：</label>
								</td>
								<td>
									<select id="type" name="type" class="form-control">
										<option th:each="item:${pla_book_type}" th:value="${item.id}" th:text="${item.name}" th:field="${book.type}"></option>
									</select>
								</td>
								<td>
									<label><span style="color:red">*</span>状态：</label>
								</td>
								<td>
									<select id="status" name="status" class="form-control">
										<option th:each="item:${pla_book_status}" th:value="${item.id}" th:text="${item.name}" th:field="${book.status}"></option>
									</select>
								</td>
							</tr>
                            <tr>
								<td>
									<label>备注：</label>
								</td>
								<td colspan="3">
									<input id="remark" name="remark" th:value="${book.remark}" class="form-control" type="text" style="height:60px">
								</td>
							</tr>
						</table>
						<div style="margin-top:5px;text-align:center">
							<button type="submit" class="btn btn-primary" id="submission">提交</button>
							<button type="button" class="btn btn-danger" onclick="layerModalFormClose()">取消</button>
						</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/center/plan/book/edit.js" th:src="@{/js/appjs/center/plan/book/edit.js}">
	</script>
</body>
</html>
