<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div>
	<div id="Mask"></div>
	<div id="Progress" data-dimension="250" data-text="0%" data-info="导出进度" data-width="30" data-fontsize="38" data-percent="0" data-fgcolor="#61a9dc" data-bgcolor="#eee"></div>
</div>
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<form method="post" th:action="@{/plan/courseFreeCenter/searchOutMKExcel}">
					<div class="fixed-table-toolbar">

						<!-- <div class="columns pull-left nopadding">
                            免考类别
                        </div>
                        <div class="columns pull-left nopadding" style="margin-left:10px;width:150px">
                            <select id="type" name="type" class="form-control">
								<option th:each="item:${pla_course_free_type}" th:value="${item.id}" th:text="${item.name}" th:filed="${courseFreeCenter.type}"></option>
							</select>
                        </div>
                        <div class="columns pull-left" style="margin-left:10px;margin-right:10px">
                            <button class="btn btn-success" onclick="reLoad()" type = "button">查询</button>
                        </div> -->
						<div class="columns pull-left">
							<button shiro:hasPermission="plan:courseFreeCenter:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="plan:courseFreeCenter:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
                        </div>
                        <div class="columns pull-left" style="margin-left: 5px;">

							<button shiro:hasPermission="plan:courseFreeCenter:add" type="button" class="btn  btn-primary" onclick="importData()">
								课程免考规则导入
							</button>
                            <button shiro:hasPermission="plan:courseFreeCenter:add" type="submit" onclick="onZipAll()"class="btn  btn-primary" >
                                课程免考规则导出
                            </button>
                        </div>
					</div>
					</form>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	    <!--shiro控制bootstraptable行内按钮可见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="plan:courseFreeCenter:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="plan:courseFreeCenter:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="plan:courseFreeCenter:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/center/plan/courseFreeCenter/courseFreeCenterOpen.js" th:src="@{/js/appjs/center/plan/courseFreeCenter/courseFreeCenterOpen.js}"></script>
</body>
</html>