<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left col-md-2 nopadding" style="padding-right:4px;">
							<select id="appid" name="appid" class="form-control" onchange="listAllTables();">
							<option value="" >请选择数据库名</option>
							<option th:each="item:${appList}" th:value="${item.id}" th:text="${item.name}" >应用名称</option>
						</select>
						</div>
						<div class="columns pull-left col-md-2 nopadding" style="padding-right:4px;">
							<select id="table_name" name="table_name" class="form-control" onchange="listAllFields();">
								<option value="" >请选择表名</option>
							</select>
						</div>
						<div class="columns pull-left col-md-2 nopadding" style="padding-right:4px;">
							<select id="field_name" name="field_name" class="form-control">
								<option value="" >请选择字段名</option>
							</select>
						</div>
						<div class="columns pull-left">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
							<button shiro:hasPermission="system:fieldDict:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	    <!--shiro控制bootstraptable行内按钮可见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:fieldDict:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:fieldDict:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:fieldDict:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/fieldDict/fieldDict.js" th:src="@{/js/appjs/system/fieldDict/fieldDict.js}"></script>
</body>
</html>