<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="examTaskOrgid" name="examTaskOrgid" class="hidden" th:value="${orgid}">
                        <input id="orgIds" name="orgIds" type="hidden" value="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型：</label>
                            <div class="col-sm-10">
                                <select data-placeholder="--选择类别--" name="type" id="type"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option th:each="item:${oa_notify_type}" th:value="${item.id}"
                                            th:text="${item.name}">--选择类别--
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题：</label>
                            <div class="col-sm-10">
                                <input id="title" name="title" class="form-control" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">内容：</label>
                            <div class="col-sm-10">
                                <input id="content" name="content" type="hidden">
                                <!-- <textarea id="content" name="content" class="form-control" required></textarea>-->
                                <div id="intro_sn" class="summernote"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接收机构：</label>
                            <div class="col-sm-10">
                                <input type="text" readonly id="org" value="" class="form-control" data-toggle="modal"
                                       data-target="#myModal">
                                <!--<input type="button" class="btn btn-default col-sm-2" data-toggle="modal" data-target="#myModal" value="选择" >-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">置顶：</label>
                            <div class="switch  col-sm-10">
                                <label th:each="item:${oa_notify_isTop}">
                                    <input type="radio" id="isTop" name="isTop" th:value="${item.id}"
                                           th:text="${item.name}"/>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">立即发布：</label>
                            <div class="switch col-sm-10">
                                <label th:each="item:${oa_notify_status}">
                                    <input type="radio" id="status" name="status" th:value="${item.id}"
                                           th:text="${item.name}"/>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">提交</button>
                                <button type="button" class="btn btn-danger" onclick="layerModalFormClose()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    接收机构
                </h4>
            </div>
            <div class="modal-body">
                <div id="jstree"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="getAllSelectNodes()" data-dismiss="modal">
                    提交
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
    <div th:include="include::footer"></div>
    <script type="text/javascript" src="/js/appjs/oa/notify/add.js" th:src="@{/js/appjs/center/exam/educateLength/educateLength.js}" >

    </script>
</body>
</html>
