<!DOCTYPE html>
<html>
<head th:include="include :: header"></head>
<body>
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control"
                               placeholder="">
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_preview_h = '';
    </script>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/oa/notify/notifyView.js" th:src="@{/js/appjs/oa/notify/notifyView.js}"></script>
</body>
</html>